<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vidracaria"
        tools:targetApi="31">

        <!-- Activity principal com rotação habilitada -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outras Activities -->
        <activity
            android:name=".TelaOrcamento"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".TelaUsuario"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".TelaEspelho"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".TelaVidro"
            android:exported="false"
            android:screenOrientation="unspecified" />

    </application>

</manifest>

